@font-face {
    font-family: xmas5;
    src: url(../fonts/For\ Christmas.ttf);
}


@font-face {
    font-family: xmas6;
    src: url(../fonts//Please\ write\ me\ a\ song.ttf)
}




@font-face {
    font-family: xmas9;
    src: url(../fonts/WinterDay-lgOPX.ttf)
}


.NavMenu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    z-index: 1;
    width: 300px;
    height: 20px;
    margin: 0 auto;
    padding-right: 100px;
    padding-top: 10px;




}

h1 {



    text-decoration-line: none;



}

.guestBookLink {
    z-index: 99;
    margin: -40px;
    min-width: 100px;
    min-height: 40px;
    display: inline;
    font-family: xmas5;
    font-size: 3em;
    margin-right: auto;
    margin-left: auto;


}


.container {


    flex-direction: column;
    display: flex;
    justify-content: center;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 20px auto;

    font-size: 2em;
    border-radius: 6px;
    line-height: 1.5;
    padding: 6px 10px;

    border: 1px solid #00000046;
    color: rgb(14, 14, 16);
    background: #ffffffad;
    font-family: xmas6;
    height: 30px;

    outline: none;
    min-width: 300px;


}

form {
    position: absolute;
    left: -10%;
    top: 5%;
    margin: 0 auto;
    border: none;
    outline: none;





}



fieldset {


    outline: none;

}

input:hover {

    outline: none;
}

input:active {

    outline: none;
}

.submitBtn {

    z-index: 99;
    display: inline-block;
    left: 40%;
    font-size: 1em;
    font-family: xmas6;
    font-weight: 600;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;

    border: 1px solid #00000046;
    color: rgb(14, 14, 16);
    background: #ffffffad;
    margin: 3% auto;
    min-width: 200px;
    min-height: 40px;
    cursor: pointer;

}

.submitBtn:hover {
    font-weight: 600;
    font-size: larger;
    letter-spacing: 5px;
    padding-top: 3px;
    scale: 103%;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.922);
}

.submitBtn:active {

    scale: 115%;
    font-size: smaller;
    background-color: rgba(255, 255, 0, 0.529);
}


.textBox {
    font-family: xmas6;
    font-size: 2rem;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;

    border: 1px solid #00000046;
    color: rgb(0, 0, 0);
    background: #ffffff4d;
    min-width: 400px;
    min-height: 300px;
    resize: none;

    margin: 15px 300px auto;
    display: inline;


    right: 20%;
    outline: none;



}